* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(223, 223, 223);
}

.page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.left{
    max-width: 500px;
    flex-shrink: 0;
    
}

.logo{
    width: 240px;
    
}

.tagline{
    font-size: 26px;
    margin-top: 20px;

}

.right{ 
    width: 400px;
    flex-shrink: 0;
}

.card{
    width: 396px;
    background-color: white;
    padding: 18px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form{
    width: 100%;
    margin-bottom: 5px;
}

.form-group{
    margin-bottom: 20px;
}

.form input{
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #1c1e21;

}

.form input::placeholder {
    color: #90949c;
}

.form input:focus{
    outline: none;
    border-color: #1877f2;
    box-shadow: 0 0 0 5px rgba(24, 119, 242, 0.2);
}

.btn{
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 20px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 16px;
}

.btn:hover{
    background-color: #165ec9;
}

.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(24, 119, 242, 0.3);
}

.btn.secondary{
    background-color: #42b72a;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px 0

}

.btn.secondary:hover{
    background-color: #36a420;
}

.link {
    display:block;
    text-align: center;
    color: #1877f2;
    margin-bottom: 18px;
    text-decoration: none;
    font-size: 15px;

}
 .link:hover{
    text-decoration: underline;
 }

 .divider{
    height: 1px;
    background-color: #ddd;
    margin-bottom: 25px;
 }

 .small-message{
    font-size: 14px;
    text-align: center;
    margin: 30px;
 }


 @media (max-width: 900px) {

  .page {
    align-items: flex-start;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .left {
    max-width: none;
    min-width: unset;
    text-align: center;
  }

  .tagline {
    font-size: 25px;
    margin: 20px 60px 0px 60px;
  }



  .card {
    width: 100%;
    max-width: 396px;
  }

}








