*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    font-family: system-ui, sans-serif;
    background:rgb(249, 249, 249);
    color:rgb(74, 74, 93);
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-section {
  text-align: center;
  margin-bottom: 10px;
}

.logo{
    width: 240px;
    margin: 0 auto 20px;
    display: block;  
}


.card{
    font-size: 14px;
    font-weight: 500;
    background: white;
    width: 100%;
    max-width: 450px;
    padding: 35px 40px 35px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.title{
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
    font-weight:bolder;
}

.subtitle{
    font-size: 14px;
    max-width: 420px;
    margin: 10px;
}

.form{
    text-align: left;
}

.form-group{
    margin-bottom: 25px;
}

label{
    display: block;
    margin-bottom: 14px;
    margin-bottom: 6px
}

input{
    width:100%;
    padding: 10px;
    border: 1px solid #dcdcdc;  
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 0 1px rgba(178, 178, 178, 0.5);
}
input:focus{
    outline:none;
    border-color: rgb(54, 54, 240);
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4c5cf0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-family: "Open Sans", system-ui, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover{
    background-color: #3a00c2;
}

.link{
    display: block;
    color: #4200e8;
    text-decoration: none;
    text-align: center;
    transition: color 0.2s ease;
    
}

.link:hover{
    color:#5445fb
}

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #4e4e4e;
  margin: 24px 0;
  font-weight: 400;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}