*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    font-size: 20px;
    color: white;
    padding: 18px 35px 19.3px 36px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}



header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{    
    width: 71.25%;
    max-width: 1140px;
    margin: 0px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h2{
    font-size: 45px;
    font-weight: 900px;  
}

.colour-orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;

}

#banner{
    border: 1px solid red;
    margin-top: 46px;
    margin-left: 230px;
    margin-bottom: 0px;
    margin-right: 38px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;


}