* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px 19.3px 36px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.txt-center{
    text-align: center;
}


header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
}

nav {
    width: 71.25%;
    max-width: 1140px;
    margin: 0px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h2 {
    font-size: 45px;
    font-weight: 900px;
}

.colour-orange {
    color: #FD6E0A;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    color: #474747;
    font-size: 20px;
    text-decoration: none;

}

#banner {
    /* border: 1px solid red; */
    margin-top: 46px;
    margin-left: 230px;
    margin-bottom: 0px;
    margin-right: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;

}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;


}

#about, #skills, #resume {
    padding-top: 130px;
    /* border: 1px solid red; */
}

#about .about-container {
    /* border: 1px solid red; */
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px 131px 156px;
    background-color: #FFF8F3;

}

.section-heading {
    /* border: 1px solid red; */
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */


}

.about-info .info-card p {
    /* border: 1px solid red; */
    font-size: 20;
    color: #757575;
    line-height: 30px;

}

.about-info .info-card h4 {
    font-size: 20;
    line-height: 30px;
    color: #474747;
    font-weight: bold;

}



#skills .skills-container {
    /* border: 1px solid red; */
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
}

.skills-container .skill-box {
    display: flex;
    /* border: 1px solid red; */
    gap: 24px;
}

.skills-container .skill-card {
    /* border: 1px solid red; */
    max-width: 267px;
    border-radius: 5px;
    padding: 30px 33px 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000010;
    /* line-height: ; */
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .resume-container{
    width: 71.25%;
    max-width: 1140px;
    margin: 113px auto 0;
    /* border: 1px solid red; */
    display: flex;
    gap: 24px;
}

.resume-container .education, .experience{
    max-width: 585px;
    /* border: 1px solid red; */

}

.resume-container .section-title{
    color:#474747;
    font-size: 30px;
}

.resume-container h3{
    font-size: 25;
    font-weight: bold;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;
}

.resume-container h4{
    font-size: 20;
    font-weight:600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-container p{
    font-size: 16;
    color: 757575;
    margin-bottom: 30px;
    line-height: 28px;
    padding-right: 10px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
    
}

.footer-container{
    width:71.25%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom:20px;
}
.footer-container p{
    font-size: 16;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .social{
    max-width: 562px;

}

.footer-container h2{
    color:#181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"],input[type="email"], textarea{
    width:  461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

